header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  width: 100%;
  max-width: 1680px;
  margin: auto;
}

.logo {
  max-width: 35vw;
  max-height: 30vh;
}

.nav-wrapper {
  max-width: calc(100% - 35vw);
}

nav {
  a {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: 3px;
      background-color: currentcolor;
      left: 50%;
      bottom: 0;
      width: 0;
    }

    &:hover {
      &::after {
        left: 0;
        right: 0;
        width: 100%;
        transition: 0.35s ease-in-out;
      }
    }
  }
}
