.arts-heading {
  position: relative;
  display: block;
}

.home-hero {
  background-color: #171717;
}

.home-main {
  min-height: calc(100vh - 248px);
}

.home-heading {
  font-size: clamp(2.875rem, 10vw, 8rem);
  font-weight: bold;
  line-height: 1.2;
}
