@import url('https://use.typekit.net/uxg4ijc.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f6f6;
  --foreground: #171717;
  --white: #fff;
  --primary: #1f386b;
  --accent: #6eacd9;
  --text: #081726;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.container {
  max-width: 1680px;
  margin: auto;
  padding: 2rem;
}

h1 {
  font-size: clamp(2.5rem, 6vw, 5rem);
  font-weight: 300;
  margin-bottom: 16px;
}

h2 {
  font-size: clamp(1.75rem, 3.5vw, 2.5rem);
  font-weight: 600;
  margin-bottom: 16px;
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2rem);
  font-weight: 600;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
