@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
  --white: #fff;
  --primary: #1f386b;
  --accent: #6eacd9;
  --text: #081726;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

main {
  max-width: 1680px;
  margin: auto;
  padding: 2.25rem;
}
